{% extends "portret/base.html" %}
{% load staticfiles %}
{% block content %}
    <h2>C.V.</h2>
    <div class="container-cv">
        <div class="linkerkolom">
            <img class="foto7" src="{% static 'foto7.png' %}">
            <h3>Personalia</h3>
            <p>Name: Jeanette Kloppenburg<br>
                Geboorteplaats: Gemert<br>
                Nationaliteit: Nederlandse<br>
                ZZP'er: sinds 1-8-2000
            </p>
            <h3>Vaardigheden</h3>
            <p> SQL<br>
                Relational Database<br>
                Information & Knowledge<br>
                &nbsp &nbsp Management<br>
                Power BI<br>
                Scrum & Agile<br>
                Disaster & Recovery<br>
                Excel<br>
                MySQL<br>
                Python<br>
                Django<br>
                Git & GitHub<br>
                Azure fundamentals<br>
                ITIL<br>
                Application Development<br>
                Cobol85<br>
                TMap<br>
                HP NonStop (Tandem)<br>
                TACL<br>
                RDF<br>
                Autosync<br>
                Safeguard</p>
            <h3>Referenties / Aanbevelingen</h3>
            <p>
                <a class="linkedin" href="https://nl.linkedin.com/in/jeanette-kloppenburg-7b6a523a/%7Bcountry%3Dnl%2C+language%3Dnl%7D?trk=people-guest_profile-result-card_result-card_full-click">Zie mijn LinkedIn profiel</a>
            </p>
            <h3>Talen</h3>
            <p>
                Nederlands<br>
                Engels<br>
                Frans<br>
                Duits
            </p>
            <h3>Hobbies</h3>
            <p>
                Hardlopen<i class="fas fa-running" style="padding-left:10px"></i><br>
                Wandelen<i class="fas fa-walking" style="padding-left:10px"></i><br>
                Skiën<i class="fas fa-skiing" style="padding-left:10px"></i><br>
                Zeilen<i class="fas fa-water" style="padding-left:10px"></i>
            </p>
        </div>

        <div class="rechterkolom">
            <h3>Profile</h3>
            <p>
                Met ruim 30 jaar in de IT heb ik heel wat kennis en ervaring opgebouwd. Gedurende deze tijd heb ik verschillende rollen vervuld bij verschillende organisaties. Het werken met data en SQL heeft voor mij altijd wel de boventoon gevoerd. Data ontwerp, data analyse, data migratie, data schoning en data rapportage zijn bekend terrein voor mij. SQL query’s opstellen en de performance van data access optimaliseren is iets waar ik me graag mee bezig hou.
            </p>
            <p>
                Ik beschik over een groot aanpassingsvermogen. En omdat ik op een internationale school heb gezeten beheers ik ook redelijk goed de Franse, Engelse en Duitse taal.
            </p>
            <p>
                Ik denk dat ik kan zeggen dat ik flexibel, geïnteresseerd, enthousiast, nauwkeurig, communicatief vaardig, een goede team-player ben, ook goed zelfstandig kan werken en me altijd volledig inzet. Ik ben gewend om in een mannenwereld te opereren.
            </p>
            <h3>Education</h3>
            <div class="education-links">
                <p>1975 - 1981<br>
                   1981 - 1985<br>
                   1985 - 1989<br>
                    <br>
                   2005 - 2007<br>
                    <br>
                    <br>
                    <br>
                    <br>
                   2019
                </p>
            </div>
            <div class="education-rechts">
                <p>
                    VWO<br>
                    Japanologie aan de Rijksuniversiteit te Leiden (niet afgerond)<br>
                    AMBI (HBO)<br>
                    afgerond met de volgende modules: B1, B2, HS1, HS4, I1, I2, S1, S3, T2<br>
                    HP Certified Professional Program. De volgende HP NonStop certificaten behaald:<br>
                    - HP Accredited Integration Specialist<br>
                    - HP Certified Systems Engineer<br>
                    - HP Certified Systems Developer<br>
                    - HP Accredited Systems Engineer<br>
                    Power BI (Microsoft Learn: Analytics rapporten maken en gebruiken met Power BI)<br>
                    Azure (Microsoft Learn: Basisinformatie over Azure)
                </p>
            </div>
            <h3>Work Experience</h3>
            {% for opdracht in opdracht_list %}
                <div class="werkervaring">
                    <h4><i class="fa fa-calendar" style="color:blue;margin-left:10px;padding-right:10px"></i> {{opdracht.startdatum|date:"M Y"}} &nbsp-&nbsp {{opdracht.einddatum|date:"M Y"}}</h4>
                    <p><i class="fa fa-building" style="margin-left:10px;padding-right:10px"></i> {{opdracht.bedrijf}}<br>
                       <i class="fa fa-globe" style="margin-left:10px;padding-right:10px"></i> {{opdracht.stad}}<br>
                    </p>
                    {% for functie in opdracht.functie_list %}
                        <div class="dropdown">
                            <li><a class="dropbtn" href="#"><i class="fa fa-briefcase" style="padding-right:10px"></i>{{ functie.functienaam }}</a></li>
                            <div class="dropdown-content">
                                {% for activiteit in activiteit_list %}
                                    {% if activiteit.startdatum == opdracht.startdatum and activiteit.functienaam == functie.functienaam %}
                                      <div>
                                          <ul class="z">
                                               <li>{{activiteit.detailregel}}</li>
                                          <ul/>
                                      </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <p>
                        <br>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}