{% extends "portret/base.html" %}
{% load static %}
{% block content %}
    <h2>C.V.</h2>
    <div class="container-cv">
        <div class="linkerkolom">
            <img class="foto7" src="{% static 'foto7.png' %}">
            <h3>Personalia</h3>
            <p>Naam: Jeanette Kloppenburg<br>
                Geboorteplaats: Gemert<br>
                Nationaliteit: Nederlandse<br>
                ZZP'er: sinds 1-8-2000
            </p>
            <h3>Vaardigheden</h3>
            <p> SQL<br>
                Relational Database<br>
                Database ontwerp en beheer<br>
                Data Analyse<br>
                Information & Knowledge<br>
                &nbsp &nbsp Management<br>
                Power BI<br>
                Tableau<br>
                Scrum & Agile<br>
                Disaster & Recovery<br>
                Excel<br>
                MySQL<br>
                Python<br>
                Django<br>
                Git & GitHub<br>
                Azure fundamentals<br>
                ITIL<br>
                Application Development<br>
                Cobol85<br>
                TMap<br>
                HP NonStop (Tandem)<br>
                TACL<br>
                RDF<br>
                Autosync<br>
                Safeguard</p>
            <h3>Referenties / Aanbevelingen</h3>
            <p>
                <a class="linkedin" href="https://nl.linkedin.com/in/jeanette-kloppenburg-7b6a523a/%7Bcountry%3Dnl%2C+language%3Dnl%7D?trk=people-guest_profile-result-card_result-card_full-click">Zie mijn LinkedIn profiel</a>
            </p>
            <h3>Talen</h3>
            <p>
                Nederlands<br>
                Engels<br>
                Frans<br>
                Duits
            </p>
            <h3>Hobbies</h3>
            <p>
                Hardlopen<i class="fas fa-running" style="padding-left:10px"></i><br>
                Wandelen<i class="fas fa-walking" style="padding-left:10px"></i><br>
                Skiën<i class="fas fa-skiing" style="padding-left:10px"></i><br>
                Zeilen<i class="fas fa-water" style="padding-left:10px"></i>
            </p>
        </div>

        <div class="rechterkolom">
            <h3>Profiel</h3>
            <p>
                Gemotiveerde BI Specialist - Data Analist. <br>
                Met ruim 30 jaar in de IT heb ik heel wat kennis en ervaring opgebouwd. Gedurende deze tijd heb ik verschillende rollen vervuld bij verschillende organisaties. Het werken met data, databases en SQL is een rode draad in mijn carrière. Ik heb mij bekwaamd in alle bouwstenen die benodigd zijn om informatie te extraheren, presenteren en visualiseren uit grote hoeveelheden data.
            </p>
            <p>
                Ik beschik over een groot inleving- en aanpassingsvermogen. En omdat ik op een internationale school heb gezeten beheers ik ook redelijk goed de Franse, Engelse en Duitse taal.
            </p>
            <p>
                Ik denk dat ik kan zeggen dat ik analytisch, flexibel, geïnteresseerd, leergierig, enthousiast, nauwkeurig, communicatief vaardig, een goede team-player ben, ook goed zelfstandig kan werken en me altijd volledig inzet. Ik ben gewend om in een mannenwereld te opereren.
            </p>

            <h3>Opleidingen</h3>
            <div class="klik-bericht">
               <p>Klik op een opleiding hieronder om diploma of certificaat te zien</p>
            </div>
            <div class="opleidingen-lijst">
                <table>
                    <tr style="height:0px;">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    {% for cursus in opleidingen_list %}
                        <tr>
                        {% ifchanged cursus.startjaar %}
                            <td style="padding-right: 4px">{{cursus.startjaar}}</td>
                            {% if cursus.eindjaar == cursus.startjaar %}
                                <td></td>
                                <td></td>
                            {% else %}
                                <td style="padding-right: 4px">-</td>
                                <td style="padding-right: 20px">{{cursus.eindjaar}}</td>
                            {% endif %}
                        {% else %}
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endifchanged %}

                        {% if cursus.document != "" %}
                           <td>
                                <script>
                                window.addEventListener('mouseup', function(event){
                                    var box = document.getElementById("popup{{cursus.opleiding_id}}");
                                    if (event.target != box) {box.style.display = 'none';}
                                    });
                                </script>
                                <div class="popup" id="popup{{cursus.opleiding_id}}">
                                   <div class="popup-content">
                                        <div class="close-btn" onclick="closePopup{{cursus.opleiding_id}}()">&times;</div>
                                        <embed class="popup-doc" src="{% static cursus.document %}#toolbar=0" type="application/pdf" style="width: 100%; height:100%" />
                                   </div>
                                </div>
                                <button class=myBtn onclick="openPopup{{cursus.opleiding_id}}()">{{cursus.opleiding}}</button>
                                <script>
                                function closePopup{{cursus.opleiding_id}}(){document.getElementById("popup{{cursus.opleiding_id}}").style.display = 'none';}
                                function openPopup{{cursus.opleiding_id}}(){document.getElementById("popup{{cursus.opleiding_id}}").style.display = 'block';}
                                </script>

<!--                                <script>
                                function togglePopup{{cursus.opleiding_id}}(){document.getElementById("popup{{cursus.opleiding_id}}").classList.toggle("active");}
                                </script> -->
                            </td>
                       {% else %}
                            <td>{{cursus.opleiding}}</td>
                       {% endif %}
                       </tr>
                    {% endfor %}
                </table>
            </div>
            <div style="height:3px;"><br></div>

            <h3>Werkervaring</h3>
            {% for opdracht in opdracht_list %}
                <div class="werkervaring">
                    <h4><i class="fa fa-calendar" style="color:blue;margin-left:10px;padding-right:10px"></i> {{opdracht.startdatum|date:"M Y"}} &nbsp-&nbsp {{opdracht.einddatum|date:"M Y"}}</h4>
                    <p><i class="fa fa-building" style="margin-left:10px;padding-right:10px"></i> {{opdracht.bedrijf}}<br>
                       <i class="fa fa-globe" style="margin-left:10px;padding-right:10px"></i> {{opdracht.stad}}<br>
                    </p>
                    {% for functie in opdracht.functie_list %}
                        <div class="dropdown">
                            <li><a class="dropbtn" href="#"><i class="fa fa-briefcase" style="padding-right:10px"></i>{{ functie.functienaam }}</a></li>
                            <div class="dropdown-content">
                                {% for activiteit in activiteit_list %}
                                    {% if activiteit.startdatum == opdracht.startdatum and activiteit.functienaam == functie.functienaam %}
                                      <div>
                                          <ul class="z">
                                               <li>{{activiteit.detailregel}}</li>
                                          <ul/>
                                      </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    <p>
                        <br>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}