{% extends "portret/base.html" %}
{% load static %}
{% block content %}
    <div class="container-info">
        <h2>Info</h2><br>
        <div class="display-info-1">
            <img src="{% static 'foto7.png' %}">
        </div>
        <p>Mijn naam is Jeanette Kloppenburg. <br>
            Nadat ik kennis heb opgedaan van Django, Python, HTML, CSS, MySQL, Azure, Git en GitHub, heb ik deze site zelf met deze tools gebouwd.<br>
            Ik ben begonnen met het hosten van de website in Azure. In Azure heb ik voor een Saas oplossing gekozen. De resources "Azure Database voor MySQL" en "Web-app" heb ik hiervoor gebruikt.<br>
            Daarna heb ik me verdiept in PythonAnywhere waar op dit moment mijn site gehost wordt.
        </p>
        <div class="display-info-2">
            <img src="{% static 'Website-tools.png' %}">
        </div>

        <div class="display-info-3">
            <img src="{% static 'SHAPE-transparant.png' %}">
        </div>
        <p>
            I.v.m. het werk van mijn vader verhuisden we naar Belgie toen ik negen jaar oud was. Vanaf de 4de klas lagere school t/m de 2de klas middelbare school ging ik daar naar een internationale school waar de voertaal Frans was.<br>
            Deze periode is zeer waardevol geweest voor mijn ontwikkeling; talen leren, aanpassen aan ander school systeem, vrienden met verschillende nationaliteiten.
        </p>
        <h3>Mijn Motto:</h3>
        <h4>Waar een wil is is een weg &nbsp</h4>

        <div class="display-info-4">
            <img src="{% static '15413473.jpg' %}">
        </div>
        <p2>
            Ná mijn veertigste ben ik begonnen met hardlopen. <br>
            <br>
            Mijn tweelingbroer kwam met het idee om op ons 50ste samen een marathon te gaan lopen. Dat hebben we gedaan. In 2013 hebben we de marathon van Parijs gelopen. Het jaar wat daaraan vooraf ging heb ik intensief getraind onder begeleiding van een coach.
        </p2>
        <div class="display-info-5">
            <img src="{% static 'photo_generale_2762395.jpg' %}">
        </div>
        <div class="display-info-6">
            <img src="{% static 'Finisher-Jeanette.jpg' %}">
        </div>

    </div>

 {% endblock content %}