{% extends "portret/base.html" %}
{% load static %}
{% block content %}
    <div class="container-info">
        <h2>Wie ben ik</h2><br>
        <div class="display-info-1">
            <img src="{% static 'foto7.png' %}">
        </div>
        <div class="display-info-1b">
            <img src="{% static 'van-data-naar-informatie.png' %}">
        </div>
        <p class="par1">Ik ben Jeanette Kloppenburg, een gemotiveerde Data Specialist.<br>
            <span class="lage_lege_regel"></span>
            Met ruim 30 jaar in de IT heb ik, in diverse rollen bij diverse organisaties,
            heel wat kennis en ervaring opgebouwd. Het werken met data, databases en SQL is daarbij de rode draad in mijn carrière.
            <span class="lage_lege_regel"></span>
            Ik heb me, in al die jaren, bekwaamd in alle bouwstenen die benodigd zijn om data te transformeren tot informatie en deze te presenteren in rapportages en dashboards.
            Ik beschik over de competenties om alle werkzaamheden in het hele traject uit te voeren en zal daarmee op dit gebied ook een waardevolle bijdrage kunnen leveren.
        </p>
        <h5>Wat ik ambieer</h5>
        <p class="par1">
            Data zie ik als de spil waar alles om draait. Ik vind het heerlijk om met data te werken; o.a. query's en stored procedures bouwen.
            Controles uitvoeren om me ervan te verzekeren dat het verwachte resultaat inderdaad juist is.
            Bedenken hoe de data zo overzichtelijk en helder mogelijk aan de gebruiker te presenteren.<br>
            Samenwerken met collega's om tot goede resultaten te komen.
            Dat alles geeft mij plezier en voldoening in het werk.<br>
            <span class="lage_lege_regel"></span>
            Bij mijn volgende opdracht zou ik weer met Microsoft SQL Server en Power BI willen werken.
        </p>
        <div class="display-info-2">
            <img src="{% static 'Website-tools-4.png' %}">
        </div>
        <h5>Deze website</h5>
        <p class="par2">Deze website ben ik om twee redenen gaan bouwen: enerzijds als studieproject en anderzijds omdat ik denk er een beter beeld van mezelf mee te kunnen geven dan middels een C.V. op papier mogelijk is.<br>
            <span class="lage_lege_regel"></span>
            Nadat ik kennis heb opgedaan van Django, Python, HTML, CSS, JavaScript, MySQL, Azure, Git en GitHub, heb ik deze website zelf met deze tools gebouwd.<br>
            <span class="lage_lege_regel"></span>
            Ik ben begonnen met het hosten van de website in Azure. In Azure heb ik voor een Saas oplossing gekozen. De resources "Azure Database voor MySQL" en "Web-app" heb ik hiervoor gebruikt.
            Daarna heb ik me verdiept in PythonAnywhere waar op dit moment mijn site gehost wordt.<br>
            <span class="lage_lege_regel"></span>
            Ik ben trots op dit resultaat. Het toont m.i. ook aan dat ik mijn competenties goed kan aanwenden om, voor mij, nieuwe tools te gebruiken.
            Ik heb niet gekozen voor de makkelijkste oplossing om een website te bouwen omdat ik kennis wilde opdoen van meerdere talen en mogelijkheden.
            Zo geeft de C.V. tab van deze website meer informatie dan mijn C.V. op papier; Je kan klikken op mijn opleidingen om de diploma's of certificaten te zien.
            Als je met je muis over de functies gaat, dan vouwen de activiteiten uit. Als je op "getuigschrift" klikt, dan krijg je die, of een ander aan dat werk gerelateerd document, te zien in een popup scherm.
            En als je op de LinkedIn verwijzing klikt, dan kom je in mijn LinkedIn pagina terecht.
            De meeste informatie die op de C.V. tab getoond wordt is opgeslagen in tabellen in MySQL.
        </p>

        <div style="clear:both"></div>
        <div class="display-info-3">
            <img src="{% static 'SHAPE-transparant.png' %}">
        </div>
        <h5>School</h5>
        <p class="par3">I.v.m. het werk van mijn vader verhuisden we naar Belgie toen ik negen jaar oud was. Vanaf de 4de klas lagere school t/m de 2de klas middelbare school ging ik daar naar een internationale school waar de voertaal Frans was.<br>
            <span class="lage_lege_regel"></span>
            Eenmaal terug in Nederland ging ik in Den Haag naar het VWO. Het was flink wennen en bijspijkeren om mee te kunnen komen op weer een andere school. Op mijn 16de verhuisden mijn ouders naar Duitsland.
            In eerste instantie bleef ik met mijn 2 jaar oudere broer achter in Den Haag totdat ook hij vertrok voor een opleiding in het buitenland. Ik heb mijn VWO in Den Haag afgerond.
            <span class="lage_lege_regel"></span>
            Deze periode is zeer waardevol geweest voor mijn ontwikkeling: talen leren, aanpassen aan ander school systeem, nieuwe vrienden maken, vrienden van verschillende nationaliteiten, snel zelfstandig worden.
        </p>

        <div style="clear:both"></div>
        <h3>Mijn Motto:</h3>
        <h4>Waar een wil is is een weg &nbsp</h4>

        <div style="clear:both"></div>
        <div class="display-info-4">
            <img src="{% static '15413473.jpg' %}">
        </div>
        <div class="display-info-5">
            <img src="{% static 'photo_generale_2762395.jpg' %}">
        </div>
        <div class="display-info-6">
            <img src="{% static 'Finisher-Jeanette.jpg' %}">
        </div>
        <h5>Hardlopen</h5>
        <p>
            Ná mijn veertigste ben ik begonnen met hardlopen. <br>
            <span class="lage_lege_regel"></span>
            Mijn tweelingbroer kwam met het idee om op ons 50ste samen een marathon te gaan lopen. Dat hebben we gedaan. In 2013 hebben we de marathon van Parijs gelopen. Het jaar wat daaraan vooraf ging heb ik intensief getraind onder begeleiding van een coach.
        </p>


    </div>

 {% endblock content %}