{% extends "portret/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <h2>About me</h2>
        <div class="display-about-1">
            <img src="{% static 'foto7.png' %}">
        </div>
        <p>My name is Jeanette Kloppenburg. <br>
            I was born in a small town in The Netherlands.<br>
            Together with my parents and brothers, we moved to S.H.A.P.E. in Mons in Belgium where I attended an International shool.
        </p>
        <div class="display-about-2">
            <img src="{% static 'SHAPE-transparant.png' %}">
        </div>

    </div>
 {% endblock content %}