body {
    background-color: linen;
}

header {
    position: relative;
}

header, header img {
    width: 100%;
}

header ul {
    position: absolute;
    width: 99%;
    padding: 0;
    right: 3%;
    top: 15%;
    text-align: right;
}

header li {
    display: inline-block;
    list-style-type: none;
    font-size: 20px;
    margin-left: 2%;
    color: darkblue;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
}

.home-knop {
    background-color: rgba(128, 128, 128, 0.2);
    border-color: grey;
}

.knop1 {
    background-color: rgba(255, 0, 0, 0.2);
    border-color: red;
}

.knop2 {
    background-color: rgba(0, 0, 255, 0.2);
    border-color: blue;
}

.knop3 {
    background-color: rgba(255, 255, 0, 0.2);
    border-color: orange;
}

a:hover {
     background-color: white;
     color: black;
}

.active {
    background-color: white;
    color: black;
    border-color: silver;
}

.left-centered {
    position: absolute;
    top: 53%;
    right: 70px;
    font: 40px lucida handwriting;
    color: linen;
}

.container-info h2 {
    font: 30px source-sans-pro;
    color: black;
    font-weight: bold;
    margin: 0;
}

.display-info-1 img {
    float: left;
    width: 15%;
    padding-right: 20px;
}

.par1 {
    font: 20px source-sans-pro;
    color: black;
    padding: 0px 10px 10px 20px;
    margin-top: 0px;
}

.par2 {
    clear: left;
    max-width: 75%;
    font: 20px source-sans-pro;
    color: black;
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
    margin-left: 10px;
}

.par3 {
    clear: right;
    font: 20px source-sans-pro;
    color: black;
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
    margin-left: 10px;
}

p {
    font: 20px source-sans-pro;
    color: black;
    padding: 0px 10px 10px 10px;
    margin-top: 0px;
}

h5 {
    font: 20px source-sans-pro;
    color: black;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.display-info-1b img {
    float: right;
    width: 30%;
    max-width: 30%;
    padding-right: 20px;
    padding-left: 10px;
    height: auto;
    margin-top: 35px;
}

.display-info-2 img {
    float: right;
    width: 18%;
    max-width: 18%;
    padding-right: 20px;
    height: 450px;
    padding-bottom: 20px;
}

.display-info-3 img {
    float: left;
    width: 20%;
    clear: both;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 0px;
}

.container-info h3 {
    float: left;
    font: 50px source-sans-pro;
    font-weight: bold;
    font-style: oblique;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: rgba(192, 192, 192, 0.3);
    margin-top: 15px;
}

.container-info h4 {
    float: left;
    font: 40px source-sans-pro;
    font-style: oblique;
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: rgba(192, 192, 192, 0.3);
    margin-top: 22px;
}

.display-info-4 img {
    float: left;
    width: 30%;
    padding-right: 20px;
}

.display-info-5 img {
    float: right;
    width: 30%;
    padding-right: 20px;
}

.display-info-6 img {
    float: right;
    width: 30%;
    padding-right: 20px;
    clear: right;
}

.linkerkolom {
    float: left;
    width: 25%;
    height: 970px;
   -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: rgba(192, 192, 192, 0.3);
    overflow: scroll;
}

.foto7 {
    width: 100%;
}

.rechterkolom {
    float: right;
    margin-right: 15px;
    padding-right: 10px;
    width: 70%;
    height: 970px;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: rgba(192, 192, 192, 0.3);
    overflow: scroll;
 }

 .container-cv h3 {
    font: 25px source-sans-pro;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
 }
 .container-cv p {
    width: 100%;
    float: left;
    font: 20px source-sans-pro;
    color: black;
    margin: 0px 0px 0px 5px;
 }

 .linkedin {
    border: none;
    font: 20px source-sans-pro;
    color: black;
    padding: 5px 0px 5px 0px;
 }

.education-links {
    width: 15%;
    float: left;
 }

.education-rechts {
    width: 85%;
    float: left;
}

.klik-bericht p {
    color: black;
    font: italic 20px source-sans-pro;
    margin-left: 140px;
    padding: 2px;
    width: 80%;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

table, tr, td {
    font: 20px source-sans-pro;
    margin-left: 10px;
    border: blue;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.popup {
    display: none;
    width: 55%;
    height: 600px;
    background-color: linen;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    z-index: 5;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    top: 40%;
    left: 40%;
}

.popup-content {
    display: block;
    width: 100%;
    height: 90%;
}

.close-btn {
    position: relative;
    cursor:pointer;
    float: right;
    top: 10px;
    right: 10px;
    width:30px;
    height:30px;
    background:black;
    color:white;
    font-size:25px;
    font-weight:1000;
    text-align:center;
    border-radius:50%;
    border: 2px solid white;
    box-shadow: 0 0 2px 2px black, inset 0 0 2px black;
}

/*.popup.active {
    display: block;
}
*/

.js-is-hidden {
    display: none;
}

.myBtn {
    padding: 0px 0px 0px 0px;
    border: none;
    background-color: Transparent;
    color: black;
    font: 20px source-sans-pro;
}

.myBtn:hover {
    background-color: linen;
    padding: 0px;
}

.myBtn:focus {
    outline: none;
    border: yellow solid 2px;
    background-color: linen;
    border-radius: 0.5rem;
}

.myBtn2 {
    padding: 0px 0px 0px 0px;
    border: none;
    background-color: Transparent;
    color: black;
    font: 20px source-sans-pro;
    margin-left: 17px;
}

.myBtn2:hover {
    background-color: linen;
    padding: 0px;
}

.myBtn2:focus {
    outline: none;
    border: yellow solid 2px;
    background-color: linen;
    border-radius: 0.5rem;
}

.werkervaring h4 {
    clear: both;
    float: none;
    font: 20px source-sans-pro;
    color: blue;
    width: 100%;
    margin: 5px 0px 0px 10px;
 }

.dropbtn {
  color: black;
  margin-left: 25px;
  padding: 0px 0px 0px 0px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dropdown {
    display: block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.dropdown-content {
  display: none;
  float: none;
  color: black;
  max-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font: 20px source-sans-pro;
  margin-left: 25px;
  background-color: linen;
  position: absolute;
  z-index: 1;
  border-radius: 0.5rem;
}

.dropdown-content ul.z {
    display: block;
    list-style-type: circle;
}

.dropdown:hover .dropdown-content {
  display: block;
  float: left;
}

.dropdown:hover .dropbtn {
  background-color: linen;
}

.lage_lege_regel {
    display: block;
    margin-bottom: 8px;
}

